@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

#home-bg {
  width: 110%;
  object-position: center;
  transform: translate(-5%, -3.3%);
  filter: brightness(80%);
  object-fit: fill;
  position: fixed;
  z-index: -2;
}
#logo {
  transform: scale(85%);
}
#nav-bar {
  display: none;
}
#menu-icon {
  width: 2.2%;
}
.top-bar {
  padding: 3.5% 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-container {
  height: 60%;
  padding: 0 5%;
}
.banner {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: end;
  gap: 25%;
}

.home-headers {
  color: white;
  text-align: end;
  position: relative;
}
.home-headers::after {
  content: "";
  position: absolute;
  bottom: -25%;
  right: 2%;
  width: 40%;
  height: 100%;
  border-bottom: 1px solid white;
}

.home-headers > h1 {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  padding-top: 5%;
  font-size: 66px;
  margin-bottom: 5%;
}

.home-headers > h3 {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 30px;
  font-weight: 400;
}

.notice {
  color: white;
  text-align: end;
}

.notice > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin-bottom: 5%;
}

.notice > p {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 13px;
  line-height: 20px;
}
